include ../includes/embed.pug 
include ../includes/style.pug

a(
    href= "https://discord.com/api/oauth2/authorize?client_id=1056218400197705839&redirect_uri=https%3A%2F%2Fspecky.one%2Fauth%2Fdiscord&response_type=token&scope=identify"
).
    How about you login with some discords
