include ../includes/style.pug
h1(style="color: #63f2bd") Login Successful!
p(style="color: white") Welcome to the admin panel, #{discord.user.username}!
a(href="/discord/logout", style="color: red") Logout?