meta(content="specky.one" property="og:title")
meta(content="Specky Website" property="og:description")
meta(content="http://specky.one" property="og:url")
meta(content="https://raw.githubusercontent.com/SpeckyYT/specky.one/master/public/assets/speckycart.png" property="og:image")
meta(content="#FF00AA" data-react-helmet="true" name="theme-color")
