script.
    function setupKonamiCode(
        cb = () => {},
        times = 1,
        targetSequence = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
    ) {
        const sequence = Array(targetSequence.length).fill(null);

        const ignoreButtons = [
            "Escape",
            "Tab",
            "CapsLock",
            "Shift",
            "Control",
            "Meta",
            "Alt",
            " ",
            "AltGraph",
            "ContextMenu",
            "Enter",
            "Backspace",
            "F1", "F2", "F3", "F4", "F5", "F6", 
            "F7", "F8", "F9", "F10", "F11", "F12", 
        ].filter(c => !targetSequence.includes(c))

        const properties = [
            "code",
            "charCode",
            "key",
            "keyCode",
        ];

        let timesDone = 0;

        document.addEventListener('keydown', (e) => {
            if(times > 0 && timesDone >= times) return;
            if(ignoreButtons.includes(e.key)) return;

            sequence.push(e)
            while (sequence.length > targetSequence.length) sequence.shift();

            if(isTargetSequence(sequence)) {
                sequence.fill(null) // clears the sequence, so you need to retype it, just to make sure
                timesDone++;
                cb();
            }
        });

        function isTargetSequence(sequence) {
            for(const [ index, button ] of sequence.entries()) {
                if(!button) return false;

                if(properties.filter(v => button[v] == targetSequence[index]).length == 0) {
                    return false
                }
            }
            return true
        }
    }
