script.
    function setupKonamiCode(
        cb = () => {},
        once = true,
        targetSequence = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
    ) {
        const numberCodes = targetSequence.filter(v => typeof v == "number").length > 0;
        const sequence = Array(targetSequence.length).fill(0);

        const ignoreButtons = [
            "Escape",
            "Tab",
            "CapsLock",
            "Shift",
            "Control",
            "Meta",
            "Alt",
            " ",
            "AltGraph",
            "ContextMenu",
            "Enter",
            "Backspace",
            "F1", "F2", "F3", "F4", "F5", "F6", 
            "F7", "F8", "F9", "F10", "F11", "F12", 
        ].filter(c => !targetSequence.includes(c))

        let done = false;

        document.addEventListener('keydown', (e) => {
            if(done) return;
            if(ignoreButtons.includes(e.key)) return;

            sequence.push(numberCodes ? e.code : e.key)
            
            while (sequence.length > targetSequence.length) sequence.shift();

            console.log(sequence, targetSequence)

            if(targetSequence.join(",") == sequence.join(",")) {
                sequence.fill(0) // clears the sequence, so you need to retype it, just to make sure

                if(once) done = true;

                cb();
            }
        });
    }
