head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

style.
    body {
        background: black;
        margin-bottom: 100px;
        color: #fff;
        text-align: center;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 0px;
        height: 25%;
        width: auto;
    }

    a:link {
        color: yellow;
    }
    a:visited {
        color: yellow;
    }
    a:hover {
        color: pink;
    }
    a:active {
        color: red;
        cursor: wait;
    }
