h1 SPWN Ideas

p Here are some EPIC ideas for SPWN.

img(src="https://stayhipp.com/wp-content/uploads/2020/01/helo-fish--440x240.jpg")

p To the #[strong left] you can find the sidebar with #{files.length - 1} idea#{files.length == 2 ? "" : "s"}.
