doctype html
html(lang="en")
    head
        title You lost buddy?
    include includes/meta.pug
    body
        h1 404 - Specky not found



        h4 skpkcy is found tho
        img(src="assets/skpkcy.png")
    include includes/footer.pug
