doctype html

include includes/style.pug
include includes/embed.pug

+embed(
    "Specky APIs",
    "This is one of the APIs ever",
    "https://specky.one/api",
    "https://www.hotellagrotta.it/cms2016/wp-content/uploads/2016/08/ape_primo_piano1.jpg",
    "#5080FF",
)

h1 Welcome to the API page!

p.
    If you're wondering, yes, you'll need to read trough the code to figure out how this works.
p.
    (Unless someone documents them)
