doctype html
html(lang="en")
    head
        title Specky
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" type="image/png" size="64" href="assets/icon.png")
    body
        img(src="assets/speckycart.png" class="center")
