doctype html

html(lang="en")
    include includes/embed.pug 
    include includes/meta.pug
    include includes/ribbon.pug
    body
        img.center(src="assets/speckycart.png")
    include includes/footer.pug
