include includes/embed.pug 
include includes/style.pug

if req.discord.powerLevel() == 0
    h1 Login to specky.one via discord
    
    h2 Why?

    p.
        By logging in to specky.one you can access some hidden pages
        and you can even have extra features and infos on public websites!

    a(href = process.env.REDIRECT_URI).
        Login with discord by clicking here!

else
    h1 You're already logged in with power level #{req.discord.powerLevel()}
    
    a(href = "/").
        Click here to go to the main page

    br

    a(href = "/logout" style = "position: absolute; text-align: center; bottom: 5vh; font-size: 2vw; background: red;").
        Click here to logout
