body {
    background: black;
    color: white;
}

#footer {
    position:absolute;
    bottom:0px;
    left: 0px;
    width:100%;
    height:64px;
    background:#ff00aa;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    height: 25%;
    width: auto;
}

/* https://www.kirilv.com/fork-ribbon-css-builder/ */
#ribbon {
    /* positioning */
    position: fixed;
    padding: 5px 45px;
    width: 128px;
    /* top right of the page */
    top: 50px;
    right: -50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /* effects with some shadow */
    box-shadow: 0 0 0 3px #ff00aa, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
    /* looks */
    background-color: #ff00aa;
    color: #ffffff;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    /* ribbon effects */
    border: 2px dotted #ffffff;
    /* webkit antialias fix */
    -webkit-backface-visibility: hidden;
    letter-spacing: .5px;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background: #FF00AA50;
    z-index: 9999;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: 2px dotted #ffffff;
    overflow: hidden;
    display: none;
}
