-
    const toStyledDate = d => Intl.DateTimeFormat('it-IT').format(d);
    const footerInfos = blog ? [
        blog.date && `Blog started on ${toStyledDate(blog.date)}`,
        blog.writers && `Writers:\n${blog.writers.join(", ")}`,
        blog.tags && `Tags:\n${blog.tags.length ? blog.tags.join(" ") : "None"}`,
    ].filter(s => s) : [];

mixin footer()
    footer#footer
        for footerInfo in footerInfos
            p= footerInfo

        if footerInfos.length == 0
            p If you see this, then it means that someone fucked up something.
