script(src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js")
script.
    mermaid.initialize({
        startOnLoad: true,
        theme: "default",
    });
//- use:
//- include includes/mermaid.pug
//- .mermaid
//-   graph TD
//-   // etc
