body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

.return {
    min-width: 100%;
}

article {
    padding: 8px;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

article h1 {
    margin-top: 1rem;
    font-size: 3rem;
}

article h2 {
    font-size: 2rem;
}

article h3 {
    font-size: 1.75rem;
}

article p {
    font-size: 1.5rem;
}

article ul {
    list-style-type: square;
}

article li {
    font-size: 1.5rem;
}

#footer {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin: 0px;
    margin-top: auto;

}

#footer * {
    padding: 0.5rem;
    margin: 0px;
}

p.info {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    outline: 3px dotted black;
    border-radius: 10px;
}

p {
    white-space: pre-line;
}

code.inline {
    background-color: rgb(48, 48, 48);
    color: rgb(224, 224, 224);
    padding: 0.1rem;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
code.inline a:link      { color: lightblue; }
code.inline a:visited   { color: lightcoral; }
code.inline a:hover     { color: lightgreen; }
code.inline a:active    { color: lightyellow; }

.answers {
    padding: 10px;
    border: 5px dashed black;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
