include includes/footer.pug
include includes/return.pug
include includes/embed.pug

link(rel="stylesheet" href="/blog/blog.css")

head
    title The one day I nearly died

+return

article
    h1 The one day I nearly died

    .answers
        h2 Content warning
        p.
            This blog contains bullying and enraging events.
            Read at your own discretion.

        h2 Is the title clickbait?
        p Probably. I'll let you judge...

    h1 The one day

    code.inline Date: a day around ~2016

    p.
        I was at school and nothing remarkable happened.
        The bell rang. Everyone ran towards the exit door and went home.
        I wasn't hurrying, and the school was basically empty before I left the door of our class.
        I got to the exit door of our school, a lot of people were there in front of the school entrance.
        Despite that, I just proceeded towards the bus stop.
        But someone started following me, the main group of bullies of the school (and one extra person unrelated to the group).
        They started pushing me forwards, so maybe if I walked a bit faster, they would stop pushing me, but no, nothing changed.
        After them pushing me for like twenty seconds, my rage built up within me, and I started having a fit (which is quite common for me).
        I turned around and pulled the hair of the tallest bully and dragged him to the ground.
        After that, I turned around and started walking again, but when I got to my second step, someone pushed me, but this time they actually pushed me onto the road.
        The force and way they pushed, resulting into me falling face-down onto the road and my backpack hit my head.
        A car was exactly coming at that time (probably the main reason why I got pushed onto the road), but the car was luckily able to come to a full stop around 2 meters in front of me.
        The bullies stood still watching me getting up.
        I got up, and walked to the bus stop, with nobody pushing me again.
        I got into the bus and got home, but didn't tell anyone what happened (probably for not showing off of being weak).

    h1 The aftermath

    code.inline Date: some days later

    p.
        During german class, the german teacher (our "class teacher") hit me with the question "WHAT HAPPENED?".
        I was extremely confused to what she was referring to, and asked "what?".
        The teacher responded with "Some days ago you jumped onto the road".
        This was quite surprising, I didn't tell anyone about this. #[i Really? According to her it was all my fault??]
        I wanted to tell her what I'm writing now, there, in front of the entire class, but I didn't even finish to say three words that she ignored me and continued teaching.
    
    code.inline Date: some days later

    p.
        During an unrelated subject, our class teacher called me into the auditorium of the school.
        Everyone involved was already in the room. #[i Why were they there before me? Did she already interview them? We will never know...]
        We were all sit on chairs placed in a circle, the teacher asked everyone "so, what happened?".
        I wasn't strong enough to talk about the bullies in front of them.
        Probably the silence was a good thing, because I'm pretty sure I would have hit the teacher at some point because she surely wouldn't have let me tell my point of view. 
        One minute of silence passed, and the teacher said "since nobody wants to speaks up, write down at home what happened and bring it tomorrow".
        I went home, and wrote down what happened, it took me around three quarters of a page. 

    code.inline Date: one day later
    p.
        I handed the page to the teacher, she didn't say anything.
    
    code.inline Date: one day later
    p.
        During the lesson, the teacher said "Your story isn't the same as the others'."


        ...........................................................................


        #[strong YOUR "STORY"? ARE YOU FUCKING KIDDING ME? DID SHE SERIOUSLY CALL IT "STORY"? JUST LIKE "bro, you made everything up"?]
    
    code.inline Date: some days later
    p.
        During the lesson, the teacher said "We discovered who the person driving was, and he confirmed that you were the one that volontarily jumped on the road."
        Is it true or did she make up everything? No idea.

    h1 Depression
    
    code.inline Date: no specific date

    p.
        I finally told my parents about what happened.
        Some time later, my parents talked with the parent of the cousin of my cousin (I think I need to add a graph here).
        That one cousin of my cousin was present on the one day, and she confirmed that I got pushed and also that some teachers were there and saw everything, that's probably why our class teacher knew about this.
        
        Being honest, initially I didn't really care about what happened, I came out alive, and that's what matters.
        But after what our class teacher did, it really enrages me every time I think about it.
        
        The principal was never involved with this occurrence (at least from what I know).
        Maybe she was involved behind the scenes, forcing the class teacher to make me shut up, but I have no idea.
        
        This all happened on the public streets.
        So technically, the school is not responsable in any way.
        Why did our class teacher take all the responsibility to interview everyone involved in the one day at school?
        As usual, no idea.

        What would have happened if I was the one that pushed them on the street?
        I'm 100% sure the school would have expelled me and I would have been reported to the police.

        Still to this day, my parents regret of not reporting this to the police.

        No wonder I am the way that I am now.

+footer
