doctype html

include ../includes/embed.pug 

head
    title URL shortener
    +embed(
        "URL Shortener",
        "An URL shortener that works sometimes",
        "https://specky.one/us",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUD-UTMb1WN3V-UfUCueYtvucQUuDXs1jvBA&usqp=CAU",
        "#FF00AA"
    )

body
    h1 URL shortener 
    input(placeholder='URL here')
    button#s Shorten 
    a.url(style='display: none;')

script.
    document.querySelector('#s').onclick = async () => {
        const o = await fetch('../us/shorten?url=' + document.querySelector('input').value)
            .then(res => res.json())
            .catch(err => ({ error: `${err}` }));

        if (!o.error) {
            document.querySelector('.url').href = o.url;
            document.querySelector('.url').innerText = o.url;
            document.querySelector('.url').style.display = "block";
        } else {
            document.querySelector('.url').innerText = 'Error: ' + o.error;
            document.querySelector('.url').style.display = "block";
        }
    }
